<ion-content>
  <div class="background-container">
    <div class="title-container">
      About photo-nest
    </div>
    <div class="ct">
      <blockquote class="text">
        <p>La idea detrás de este proyecto es poder contar con un repositorio de imágenes online personal (estilo instagram), pero sin que éstas se vean afectadas por 
          la compresión que las redes sociales les aplican para reducir su tamaño, sacrificando a su vez calidad de imagen.</p>
          <p>Por otro lado, es un 
            proyecto que desde hace tiempo buscaba desarrollar, ya que agrupa un par de hobbies y es una buena forma de adquirir experiencia como desarrollador,
            pero nunca tuve el tiempo para construirlo hasta ahora.</p>
            <p><i>Si estás aquí significa que visitaste el sitio, ¡Gracias por darte el tiempo!</i></p>
            <p class="signature"><i>-LP</i></p>
      </blockquote>
    </div>
  </div>
</ion-content>